<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <title>Javi's Portfolio Email</title>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
